<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Choose</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      input[type="submit"],
      input[type="reset"] {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    </style>
</head>
<body>
<h1>Choose Course</h1>
<br>
<form action="#" th:action="@{/School/__${id}__/__${route}__}" th:object="${mark}" method="post">
<div>
    <p>
        <label for="course"> Choose Course </label>
        <select th:field="*{name}" name="course" id="course">
            <option value="cpp"> CPP </option>
            <option value="java"> JAVA </option>
            <option value="ruby"> Ruby </option>
        </select>
    </p>

    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</div>
</form>
</body>
</html>
